# Environment variables
.env

# Python
__pycache__/
*.pyc
.venv/
venv/

# Python packaging
*.egg-info/

# dbt
dbt_packages/
target/
logs/

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

